.clan{
    border: 3px solid darkblue;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 5px;
    img{
        max-height: 100px;
    }
    .clan-tag{
        font-weight: bold;
        font-size: 1.5rem;
    }
    .clan-name{
        font-size: 1.1rem;
        font-weight: bold;
        color: #383838
    }
    .clan-add{
        font-size: 100px;
        line-height: 10px;
    }
}
.error {
    background: #ff0000;
    border: 3px solid darkred;
    padding: 12px 20px;
    font-weight: bold;
    border-radius: 5px;
}
.wn8 {
    color: white;
    &.wn8-black     { background: #000000;}
    &.wn8-red       { background: #cd3333;}
    &.wn8-orange    { background: #d77900;}
    &.wn8-yellow    { background: #d7b600;}
    &.wn8-green     { background: #6d9521;}
    &.wn8-darkgreen { background: #4c762e;}
    &.wn8-blue      { background: #4a92b7;}
    &.wn8-violett   { background: #83579d;}
    &.wn8-purple    { background: #5a3175;}
}
.fixed-height-chart {
    height: 350px;
}
.wg-login{
    font-size: 24px;
    display: inline-block;
    border: 5px solid darkblue;
    border-radius: 5px;
    background: #b5cffd;
    padding: 15px;
    text-align: center;
    color: #b50a0a;
    margin-top: 10px;
    width: 100%;
    &:hover{
        text-decoration: none;
        font-weight: bold;
        color: #b50a0a;
    }
}
.flip-area {
    border: 3px solid darkblue;
    padding: 15px;
    background: rgba(181, 207, 253, 0.47);
    a {
        color: #0a0842;
    }
}
.copyright-lfs96 {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-weight: bold;
    font-family: consolas, monospace;
    font-size: 0.9rem;

    a, a:link{
        color: darkslategray;
    }
    a:hover {
        color: #6d9521;
    }
    img{
        height: 32px;
    }
}
